.Home {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    font-family: "Nunito", sans-serif;
    text-align: center;
    align-items: center;
    background: rgb(2,0,36);
    background: linear-gradient(to right, #591DA9, #051960);
  }
  
  .HomeContainer {
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    color: white;
    height: 100%;
    
    
  
    .workspaceListing {
      // Default styles
      max-width: 100%; // Ensures the listing takes full width initially
      
      @media only screen and (min-width: 600px) {
        min-width: 600px; // Sets the minimum width to 600px when screen width is larger
      }
    }
  }
  